<v-card :disabled="loading" :loading="loading" class="mx-auto my-12" max-width="374">
  <template v-slot:loader="{ isActive }">
    <v-progress-linear
      :active="isActive"
      color="deep-purple"
      height="4"
      indeterminate
    ></v-progress-linear>
  </template>
  <v-card-item>
    <v-card-title>Subir imagen</v-card-title>

    <v-card-subtitle>
      <span class="me-1">Haz click en la imagen</span>

      <v-icon color="error" icon="mdi-fire-circle" size="small"></v-icon>
    </v-card-subtitle>
  </v-card-item>
  <v-img @click="clickToInputFile" height="250" src="img/img-demo.svg" contain></v-img>
  <v-file-input
    ref="fileInput"
    v-model="file"
    :rules="rules"
    accept="image/png, image/jpeg, image/bmp"
    style="display: none"
  ></v-file-input>
  <v-divider class="mx-4 mb-1"></v-divider>

  <v-card-actions>
    <v-btn color="deep-purple-lighten-2" @click="uploadFile" text="Upload" block></v-btn>
  </v-card-actions>
</v-card>
